#ToDo_wapper{
    margin: 50px;
}

#cardList_wrapper{
    margin-top: 50px;
}

#cardListUl_wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-content: flex-start;
}

.ToDoCard{
    min-width: 250px;
    width: 250px;
    height: 300px;
    border: 2px solid #183D3D;
    border-radius: 15px;
    margin-bottom: 15px;
    list-style-type: none;
    color: #93B1A6;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s ease-out;
}

.ToDoCard:hover{
    box-shadow: 1px 1px 10px 0.3px rgb(34, 94, 94, 0.9);
}

.cardDeteleButton{
    all: unset;
    width: 50%;
    height: 25px;
    margin-top: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid #183D3D;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-out;
    align-self: center;
}

.cardDeteleButton:hover{
    border: 2px solid #225e5e;
    box-shadow: 1px 1px 10px 0.3px rgb(34, 94, 94, 0.9);
}


.CardHeader{
    font-weight: bold;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.CardText{
    width: 70%;
    height: auto;
    margin-top: 0px;
    margin-left: 25px;
}


#addCardButton{
    all: unset;
    width: 100px;
    height: 25px;
    margin-top: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid #183D3D;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-out;
    align-self: center;
    color: #93B1A6;
}

#addCardButton:hover{
    border: 2px solid #225e5e;
    box-shadow: 1px 1px 10px 0.3px rgb(34, 94, 94, 0.9);
}
